.outersquare{
    width: 600px;
    height: 600px;
    
    
}
.innerquare{
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    
    
}
.greenrow1, .greenrow3{
    background-color: green;
    width: 185px;
    height: 185px;
}
.greenrow2{
    background-color: blue;
    width: 185px;
    height: 185px;
    border-radius: 100%;
}
.bluerow2{
    background-color: green;
    width: 185px;
    height: 185px;
}
.greenrow22{
    background-color: blue;
    width: 185px;
    height: 185px;
    border-radius: 100%;
}
.bluerow1 ,  .bluerow3{
    background-color: blue;
    width: 185px;
    height: 185px;
    
   
    border-radius: 100%;
    
}
.greenrow11,.greenrow33{
    background-color: green;
    width: 185px;
    height: 185px;;
    
}